.button {
    padding: 10px 30px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    gap: 10px;


}