@use './variables' as *;

@mixin overlay {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    outline: none;
    background-color: rgba(3, 3, 3, 0.3);
}

@mixin modal {
    position: fixed;
    width: 30%;
    max-width: 450px;
    min-width: 450px;
    padding: 1rem;
    border-radius: 12px;
    background-color: $lightGray;
    color: $white;
    transition: 300ms ease-in-out;
    opacity: 1;
    height: fit-content;
}