@use './breakpoints' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/**
 Breakpoints
 */

.layout {
    @include breakpoint(md) {
        width: 100%;
    }
}

.right-sidebar {
    @include breakpoint(md) {
        display: none;
    }
}

.left-sidebar {
    @include breakpoint(sm) {
        display: none;
    }
}

.middle {
    @include breakpoint(md) {
        flex: 1;
    }
}