.layout {
    width: 1174px;
    height: 100vh;
    margin: 0 auto;

    main {
        display: flex;

        .right-sidebar,
        .left-sidebar {
            width: 287px;
            min-width: 287px;
            max-width: 287px;
            padding: 0 1rem;
            position: sticky;
            top: 0;
            max-height: 100vh;

        }

        .middle {
            display: flex;
            width: 600px;
            flex-direction: column;

            .middle-children {
                border-right: 1px solid lightgray;
                border-left: 1px solid lightgray;
                min-height: calc(100vh - 45px - 0.6rem);
            }
        }
    }
}