.layout {
    width: 1174px;
    height: 100vh;
    margin: 0 auto;

    .navbar {
        background-color: purple;
    }

    main {
        display: flex;

        .right-sidebar,
        .left-sidebar {
            width: 287px;
            min-width: 287px;
            max-width: 287px;
            padding: 0 1rem;
            position: sticky;
            top: 0;
            max-height: 100vh;
            padding-top: 1rem;

        }

        .middle {
            display: flex;
            justify-content: center;
            align-content: center;
            height: 200vh;
            width: 600px;
            border-right: 1px solid lightgray;
            border-left: 1px solid lightgray;
        }
    }
}